[Unit]
Description=Mattermost
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ mattermost_root_directory }}

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v
ExecStopPost=/usr/bin/sleep 3

[Install]
WantedBy=multi-user.target